* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

.main_wrapper {
    display: flex;
    height: 80vh;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .main_wrapper {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 10px;
    }

    .sidebar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar li {
        width: 100%;
        text-align: center;
    }

    .main_body {
        width: 100%;
        padding: 10px;
    }
}