/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #f6f6f6;
    color: gray;
    padding: 20px;
    transition: width 0.3s ease-in-out;
    position: fixed;
    left: -250px;
    top: 0;
    height: 100%;
    transition: left 0.3s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar.sidebar.open {
    left: 0;
}

.sidebar-header {
    display: flex;
    justify-content: flex-end;
}

.close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: gray;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 15px 0;
}

.sidebar a {
    color: gray;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.sidebar a:hover,
.sidebar a.active {
    background-color: #009879;
    color: hsl(0, 0%, 100%);
}

.sidebar span {
    display: flex;
    align-items: center;
}

.sidebar span svg {
    margin-right: 8px;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: gray;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .sidebar {
        width: 200px;
        left: -200px;
    }

    .sidebar.open {
        left: 0;
    }

    .menu-toggle {
        display: block;
    }

    .sidebar-header {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .close-btn {
        font-size: 24px;
    }

    .sidebar ul {
        margin-top: 20px;
    }

    .sidebar li {
        margin: 10px 0;
    }
}