/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #f6f6f6;
    color: gray;
    padding: 20px;
    transition: width 0.3s;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
}

.sidebar a {
    color: gray;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.sidebar a:hover,
.sidebar a.active {
    background-color: #7b2cbf;
    color: hsl(0, 0%, 100%);
}
.sidebar span{
    display: flex;
    align-items: center;
}
.sidebar span svg {
    margin-right: 8px; 
}
/* Responsive Styles */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        padding: 10px;
    }

    .sidebar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar li {
        width: 100%;
        text-align: center;
    }
}